<% function formatoPrecio(precio) { return precio.toLocaleString('es-AR', { style: 'currency' , currency: 'ARS' }); } %>
    <html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <%- style %>
            <header class="header">
                <div class="summary">
                    LISTADO DE COMPRAS <%- period %>
                </div>
            </header>
            <div class="resumen">
                <div class="user-data">
                    <div class="pv">
                        <div class="data">
                            <span>
                                <font style="font-weight: bold;">Contribuyente:</font>
                                <%- clientData %>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <main class="main">
                <div class="tasks">
                    <table class="tasks-table">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Comprobante</th>
                                <th>Denominación</th>
                                <th>CUIT</th>
                                <th>Neto No gravado</th>
                                <th>Neto</th>
                                <% if (parseFloat(exempt_transactions)> 0) { %>
                                    <th>Op. Exentas</th>
                                    <% } %>
                                        <% if (parseFloat(internal_tax)> 0) { %>
                                            <th>Imp. Internos</th>
                                            <% } %>
                                                <% if (parseFloat(national_tax_withholdings)> 0) { %>
                                                    <th>Perc. Nacionales</th>
                                                    <% } %>
                                                        <% if (parseFloat(vat_21)> 0) { %>
                                                            <th>IVA 21%</th>
                                                            <% } %>
                                                                <% if (parseFloat(vat_105)> 0) { %>
                                                                    <th>IVA 10.5%</th>
                                                                    <% } %>
                                                                        <% if (parseFloat(vat_27)> 0) { %>
                                                                            <th>IVA 27%</th>
                                                                            <% } %>
                                                                                <% if (parseFloat(vat_5)> 0) { %>
                                                                                    <th>IVA 5%</th>
                                                                                    <% } %>
                                                                                        <% if (parseFloat(vat_25)> 0) {
                                                                                            %>
                                                                                            <th>IVA 2.5%</th>
                                                                                            <% } %>
                                                                                                <% if
                                                                                                    (parseFloat(vat_withholdings)>
                                                                                                    0) { %>
                                                                                                    <th>Percepción IVA
                                                                                                    </th>
                                                                                                    <% } %>
                                                                                                        <% if
                                                                                                            (parseFloat(gross_income_withholdings)>
                                                                                                            0) { %>
                                                                                                            <th>Percepción
                                                                                                                IIBB
                                                                                                            </th>
                                                                                                            <% } %>
                                                                                                                <th>Total
                                                                                                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% purchases.forEach(function(item) { %>
                                <tr>
                                    <td style="text-align: center;"><%- item.date %></td>
                                    <td style="text-align: center;"><%- item.receipt %></td>
                                    <td class="name"><%- item.business_name %></td>
                                    <td style="text-align: center;"><%- item.document_number %></td>
                                    <td><%- formatoPrecio(item.unrecorded) %></td>
                                    <td><%- formatoPrecio(item.total_net) %></td>
                                    <% if (parseFloat(exempt_transactions)> 0) { %>
                                        <td><%- formatoPrecio(item.exempt_transactions) %></td>
                                        <% } %>
                                            <% if (parseFloat(internal_tax)> 0) { %>
                                                <td><%- formatoPrecio(item.internal_tax) %></td>
                                                <% } %>
                                                    <% if (parseFloat(national_tax_withholdings)> 0) { %>
                                                        <td><%- formatoPrecio(item.national_tax_withholdings) %></td>
                                                        <% } %>
                                                            <% if (parseFloat(vat_21)> 0) { %>
                                                                <td><%- formatoPrecio(item.vat_21) %></td>
                                                                <% } %>
                                                                    <% if (parseFloat(vat_105)> 0) { %>
                                                                        <td><%- formatoPrecio(item.vat_105) %></td>
                                                                        <% } %>
                                                                            <% if (parseFloat(vat_27)> 0) { %>
                                                                                <td><%- formatoPrecio(item.vat_27) %>
                                                                                </td>
                                                                                <% } %>
                                                                                    <% if (parseFloat(vat_5)> 0) { %>
                                                                                        <td><%- formatoPrecio(item.vat_5)
                                                                                                %>
                                                                                        </td>
                                                                                        <% } %>
                                                                                            <% if (parseFloat(vat_25)>
                                                                                                0) {
                                                                                                %>
                                                                                                <td><%- formatoPrecio(item.vat_25)
                                                                                                        %>
                                                                                                </td>
                                                                                                <% } %>
                                                                                                    <% if
                                                                                                        (parseFloat(vat_withholdings)>
                                                                                                        0) { %>
                                                                                                        <td><%- formatoPrecio(item.vat_withholdings)
                                                                                                                %></td>
                                                                                                        <% } %>
                                                                                                            <% if
                                                                                                                (parseFloat(gross_income_withholdings)>
                                                                                                                0) { %>
                                                                                                                <td><%- formatoPrecio(item.gross_income_withholdings)
                                                                                                                        %>
                                                                                                                </td>
                                                                                                                <% } %>

                                                                                                                    <td
                                                                                                                        style="text-align: right;">
                                                                                                                        <%- formatoPrecio(item.total)
                                                                                                                            %>
                                                                                                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <div class="resumen">
                        <div class="totales">
                            <div class="listado">
                                <% totalsList.forEach(function(item) { %>
                                    <div class="totalItem">
                                        <div class="title">
                                            <span>Total <%- item.name %> : </span>
                                        </div>
                                        <div class="import">
                                            <span>$ <%- formatoPrecio(item.value) %> </span>
                                        </div>
                                    </div>
                                    <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
    </body>

    </html>